In [23]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [24]:
pd.__version__

'2.0.0'

In [25]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [29]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
engine.connect()

In [31]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [39]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize = 100000)

In [40]:
df = next(df_iter)

In [41]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [42]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [43]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.59 s, sys: 36.6 ms, total: 3.63 s
Wall time: 5.82 s

1000

In [45]:
from time import time

In [46]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print('insert another chunk...')
    t_end = time()
    print(f'inserted another chunk... took {t_end-t_start} seconds')

insert another chunk...
inserted another chunk... took -6.709646224975586 seconds
insert another chunk...
inserted another chunk... took -6.47329568862915 seconds
insert another chunk...
inserted another chunk... took -6.232152938842773 seconds
insert another chunk...
inserted another chunk... took -6.679702281951904 seconds
insert another chunk...
inserted another chunk... took -6.531070232391357 seconds
insert another chunk...
inserted another chunk... took -6.693318843841553 seconds
insert another chunk...
inserted another chunk... took -6.670796155929565 seconds
insert another chunk...
inserted another chunk... took -7.11515212059021 seconds
insert another chunk...
inserted another chunk... took -7.024167060852051 seconds
insert another chunk...
inserted another chunk... took -7.169177770614624 seconds
insert another chunk...
inserted another chunk... took -6.3768310546875 seconds

/tmp/ipykernel_2925/426821928.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insert another chunk...
inserted another chunk... took -6.3612143993377686 seconds
insert another chunk...
inserted another chunk... took -3.9505908489227295 seconds

StopIteration: